body{
    --box-color: #FFF;
    --title-color:#9A52cc;
    background: #fff;
}
.link{
    color: blue;
    cursor: progress;
}
.container{
    padding: 1em;
    width: 50em;
    margin: auto;
}
.about_me{
    background: var(--box-color);
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 2em;
}
.about_me>.avatar{
    width: 8em;
    height: 9em;
}
.about_me>.content{
    width: 40em;
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
}
.box{
    background: var(--box-color);
    padding: .1em 0;
    margin: 3.5em 0 0 0;
    position: relative;
    box-shadow: -1px 1px 1px 2px var(--title-color);
    border-radius: 1em 0 0 0em/1em;
}
.box>li{
    list-style-type: square;
}
.box::before{
    display: block;
    position: absolute;
    content: "";
    width: 6.3em;
    text-align: center;
    top: -1.6em;
    left: 1em;
    color: var(--title-color);
    border-width: 0 0 2px 0;
    border-radius: 1em 1em 1em 0/1em;
    font-weight: bolder;
    font-size: 1.3em;
    box-shadow: -1px 1px 1px 2px var(--title-color);
}
#educate::before{
    content: "教育经历";
}
#project::before{
    content: "项目经历";
}
#work_experience::before{
    content: "工作经历";
}
#school_experience::before{
    content: "校园经历";
}
#skill::before{
    content: "个人技能";
}
#award::before{
    content: "获奖经历";
}
.timeline{
    display: flex;
    padding: 0em .6em;
}
.timeline>.time{
    --line-height:1.5em;
    width: 8em;
    flex-basis: 8em;
    font-size: .9em;
    height: var(--line-height);
    background: black;
    color: #FFFFF2;
    text-align: center;
    line-height: var(--line-height);
    border-radius: 10%/50%;
    align-self: center;
}
.timeline>.content{
    flex-basis: 42em;
    text-align: justify;
    border: solid currentColor;
    border-width: 0 0 0 1px;
    position: relative;
    padding: .6em;
    margin: 0 .6em;
}
.timeline p{
    margin: .1em 0;
    font-size: .9em;
}
.timeline>.content::before{
    content: "";
    position: absolute;
    left: -.3em;
    top: 46%;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background: currentColor;
}
