body{
    --box-color: #FFF;
    --title-color:#9A52cc;
    background: #fff;
    font-size: 1em;
}
.link{
    color: blue;
    cursor: progress;
}
.container{
    padding: 1em;
    width: 50em;
    margin: auto;
}
.about_me{
    background: var(--box-color);
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 2em;
}
.about_me>.avatar{
    width: 8em;
    height: 9em;
}
.about_me>.content{
    width: 40em;
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
}
.box{
    background: var(--box-color);
    padding: .1em 0;
    margin: 3.5em 0 0 0;
    position: relative;
    box-shadow: -1px 1px 2px 2px var(--title-color);
    border-radius: 1em 2em 1em .3em/5em .1em .2em 3em;
}
.box::before{
    display: block;
    position: absolute;
    content: "";
    width: 6.3em;
    text-align: center;
    top: -1.6em;
    left: .8em;
    color: var(--title-color);
    border-width: 0 0 2px 0;
    border-radius: 2em 1em 1em 0/3em 1em 1em 1em;
    font-weight: bolder;
    font-size: 1.3em;
    box-shadow: -1px 1px 3px 2px var(--title-color);
}
#educate::before{
    content: "教育经历";
}
#project::before{
    content: "项目经历";
}
#work_experience::before{
    content: "实习经历";
}
#school_experience::before{
    content: "社团经历";
}
#skill::before{
    content: "个人技能";
}
#award::before{
    content: "获奖情况";
}
.timeline{
    display: flex;
    padding: 0em .6em;
}
.timeline>.time{
    --line-height:1.5em;
    width: 8em;
    flex-basis: 8em;
    font-size: .8em;
    height: var(--line-height);
    background: black;
    color: #FFFFF2;
    text-align: center;
    line-height: var(--line-height);
    border-radius: 10%/50%;
    align-self: center;
}
.timeline>.content{
    flex-basis: 42em;
    text-align: justify;
    border: solid currentColor;
    border-width: 0 0 0 1px;
    position: relative;
    padding: .6em;
    margin: 0 .6em;
}
.box p{
    margin: .1em 0;
    line-height: 1.5em;
}
.timeline>.content::before{
    content: "";
    position: absolute;
    left: -.3em;
    top: 46%;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background: currentColor;
}
ul li{
    list-style-type: square;
    margin: .5em 0;
}
header{
    text-align: center;
    color: var(--title-color);
    font-size: 1.8em;
    font-weight: 600;
    width: 5.8em;
    margin: auto;
    border: double;
    border-width: 0 0 3px 0;
    border-radius: 4em 7em 3em 1em/6em 3em 8em 10em;
    box-shadow: 1px 1px 3px 1px crimson;
}